@import '../global.scss';

@each $color, $value in $bg-colors {
    .bg-#{$color} {
        background-color: $value;
    }
}

@each $color, $value in $colors {
    .color-#{$color} {
        background-color: $value;
    }
}

.over-vehicles {
    background-color: rgba(255,250,205,.5) !important;
}

.border-black {
    border: 0.0625rem solid black;
}

.warning {
    color: #fffc00;
}

.error {
    color: #ff0000;
}

.info {
    color: #03befc;
}