
@inherits TransportationReportCommonDataBase
<div class="transportation-common-data grid-@GridSize">
    @if (Header != null && Body != null)
    {
        <KoboSimpleGrid Header="Header" Body="Body" DataItems="SummaryResult" ></KoboSimpleGrid>
    }
</div>
