[submodule "Reports/ReportTemplate"]
	path = Reports/ReportTemplate
	url = mgt-khobho@mgt-khobho.git.backlog.com:/SINSINHO_WEBSYSTEM/ReportTemplate.git
	branch = dev
[submodule "SharedLibraries"]
	path = SharedLibraries
	url = mgt-khobho@mgt-khobho.git.backlog.com:/SINSINHO_WEBSYSTEM/SharedLibraries.git
	branch = dev