.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show > .btn-primary.dropdown-toggle {
    background-color: #339A91;
    border-color: #339A91;
}
.btn-primary.disabled, :disabled.btn-primary {
    background-color: #6c757d;
    border-color: #6c757d;
}
