@import '../global.scss';

.dxbs-edit-btn {
    &.btn-secondary {
        color: $color--11;
        background-color: rgba(76,175,147,0.2);
        border-color: rgba(76,175,147,0.2);
    }

    &.btn-secondary:hover {
        color: #fff;
        background-color: $color--11;
        border-color: $color--11;
    }
}
.custom-dx-listbox {
    &.dxbs-listbox.dxbs-grid-vsd.form-control:not([style]) {
        max-height: 8.125rem;
    }
}

//TODO combobox lenght zlayer
//.dx-dropdown-list-container {
//    position: relative;

//    .dx-listbox-scrollable.dxbs-dm.dropdown-menu {
//        min-width: 100%;
//        left: 0 !important;
//        top: 0 !important;
//        max-width: 50vw;
//        overflow-x: auto;
//        font-size: 0.875rem;

//        .dropdown-item {
//            padding: 0.25rem .5rem;
//        }
//    }
//}

//.dxbs-textbox > div {
//    position: static !important;
//}

/*.dx-page-size-selector > .dxbs-combobox > .input-group > div > span.form-control, 
div.dxbs-date-edit > div:not(.dxbs-edit-clbv) > div > input.form-control, 
div.dxbs-spin-edit > div:not(.dxbs-edit-clbv) > div > input.form-control, 
div.dxbs-combobox > div:not(.dxbs-edit-clbv) > div > input.form-control{
    padding-right: 25px !important;
}
/*.custom-dx-listbox{   
    .custom-control{
        &-label {
            display: block;
        }
        &.custom-checkbox {
            display: inline-block;
            vertical-align: top;
        }
    }
}

.form-inline{
    .dxbs-textbox > div, 
    .dxbs-memo > div, 
    .dxbs-button-edit > div, 
    .dxbs-spin-edit > div:not(.dxbs-out-of-range-warn), 
    .dxbs-dropdown-edit > div:not(.input-group-append):not(.input-group-prepend):not(.dxbs-dropdown-area):not(.dxbs-out-of-range-warn):not(.dxbs-ld):not(.dxbs-lp){
        width: 100%;
    }
}


.dxbs-button, .dxbs-spin, .dxbs-dropdown{
    &-edit .input-group {
        width: 100%;
    }
}



.input-group:hover .dxbs-edit-btn {
    color: #fff;
    background-color: $color--11;
    border-color: $color--11;
}

// .dxbs-date-edit .dropdown-toggle::after {
//     width: 0.75rem;
//     height: 1.3125rem;
//     border: none;
//     background: url(../images/calendar.png) no-repeat center / 100%;
//     vertical-align: top;
// }

.dxbs-combobox {
    > div > div.input-group-append > div.dxbs-dm.dropdown-menu {
        min-width: min-content;
        width: 100%;
    }

    &.right > div > div.input-group-append > div.dxbs-dm.dropdown-menu {
        left: auto !important;
        right: 0;
    }

    &.bottom > div > div.input-group-append > div.dxbs-dm.dropdown-menu {
        top: auto !important;
        bottom: 100%;
    }
}

.dxbs-modal.modal {
    padding-right: 0 !important;
}

.dxbs-empty-data-row {
    color: transparent;
    width: 18.75rem;
    user-select: none;

    &:before {
        position: absolute;
        content: 'データなし';
        color: #212529;
        font: inherit;
        width: 100%;
        left: 0;
    }
}

//.dxbs-spin-edit{
//    .form-control{
//        padding-right: 0 !important;
//}

*/