@import '../global.scss';

/* Table */
table {
    a {
        color: $color--11;

        &:hover {
            color: $color--11;
            text-decoration: underline;
        }
    }

    .dxbs-date-edit .input-group {
        position: static !important;
    }

    th {
        word-break: keep-all;
        white-space: nowrap;
    }
}

.table {
    td, th {
        vertical-align: middle;
        border: 0.0625rem solid #dee2e6;
    }
}

.no-border td {
    border: none;
}
