/*
   2021年4月26日11:04:26
   User: 
   Server: CPU000730
   Database: HOC_Kashikiri
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE HOC_Kashikiri.dbo.TKD_Henko
DROP CONSTRAINT [TKD_Henko1];
GO

ALTER TABLE HOC_Kashikiri.dbo.TKD_Henko
DROP COLUMN HaitaHenKai;
GO

ALTER TABLE HOC_Kashikiri.dbo.TKD_Henko
ADD CONSTRAINT TKD_Henko1 PRIMARY KEY (UkeNo);
GO
COMMIT
