IF NOT EXISTS (
  SELECT
    *
  FROM
    INFORMATION_SCHEMA.COLUMNS
  WHERE
    TABLE_NAME = 'TKD_SchYotei' AND COLUMN_NAME = 'CalendarSeq')
BEGIN
  ALTER TABLE TKD_SchYotei
    ADD CalendarSeq int NOT NULL
END;