$black: #000;
$white: #fff;
$red: #ff0000;
$orange: #ff8000;
$pink: #ff8080;
$light-orange: #ffc080;

$color--1: #3e2723;
$color--2: #f54337;
$color--3: #e65100;
$color--4: #64b5f7;
$color--5: #673bb7;
$color--6: #ff9802;
$color--7: #689e39;
$color--8: #c4e1a4;
$color--9: #838688;
$color--10: #5be8cc;
$color--11: #4caf93;
$color--12: #f6d5e7;
$color--13: #FFF5BF;
$color--14: #F4D9F4;
$color--15: #00008B;
$color--16: #7CFC00;
$color--17: #FF00FF;
$color--18: #DC143C;
$color--19: #00FFFF;
$color--20: #D2691E;
$color--21: #BDB76B;
$color--22: #FFD700;

$bg_sidebar: #1ab394;
$bg_sidebar_hover: #18a689;
$bg_sidebar_header: #007D61;
$bg_sidebar_ul_active: #17987e;
$bg_sidebar_ul_ul: #293846;
$bg_sidebar_ul_ul_active: #2F4858;
$bg_sidebar_ul_ul_ul: #2f4050;

$bg_topbar: #f3f3f4;

$box_shadow_input: $color--11;
$bg_button_disable: #E8E8E8;

$bg-colors: ( 
    "black": $color--1, 
    "red":  $color--2, 
    "orange": $color--3, 
    "blue": $color--4, 
    "purple": $color--5, 
    "yellow": $color--6, 
    "green": $color--7, 
    "lightgreen": $color--8, 
    "spareBus": $color--9, 
    "rentalBus": $color--10, 
    "primary": $color--11,   
);

$colors: (    
    "1": $color--1,
    "2": $color--4,
    "3": $color--8,
    "4": $color--7,
    "5": $color--2,
    "6": $color--6,
    "7": $color--3,
    "8": $color--5,
    "9": $color--14,
    "greenlight": $color--8,
    "green": rgba(91, 232, 204,.7),
    "10": $color--12, 
    "11": $color--13,
);


$grid-colors: ( 
    "14": $color--1, 
    "13": $color--15, 
    "12": $color--4, 
    "11": $color--16, 
    "10": $color--7, 
    "9": $color--17, 
    "8": $color--18, 
    "7": $color--2, 
    "6": $color--19, 
    "5": $color--5, 
    "4": $color--20, 
    "3": $color--3, 
    "2": $color--21, 
    "1": $color--22 
);
$sizes: 56, 65, 75, 90, 100, 110, 120, 130, 140, 150, 160, 190, 205, 250, 260, 290, 568, 664;

$border-grid: #a0a0a0;