@inject IJSRuntime jsRuntime
@inject BusScheduleHelper busScheduleHelper
<!-- <div class="mouse-event" @onmousemove="((e) => MouseMovePanel(e))" @onmouseup="((e) => MouseUpProcess(e))">-->
<div class="mouse-event group-@Param.ActiveG">
<CascadingValue Value="this">
    @ChildContent
</CascadingValue>
</div>

@code {
    [Parameter] public DateTime Date { get; set; }
    [Parameter] public int GridData { get; set; } // 1: 1day 2: 3days, 3: 1week, 4: 1month
    [Parameter] public int GridView { get; set; } // 0:15minute, 1:1hour, 2:3hours, 3:6hours, 4:day
    [Parameter] public int Mode { get; set; } // 1:view, 2:edit, 3:create
    [Parameter] public double Width { get; set; }
    [Parameter] public int View { get; set; } // 1:large, 2:medium, 3:small
    [Parameter] public List<BusDataType> BusLists { get; set; }
    [Parameter] public List<BusDataType> BusGreenLists { get; set; }
    [Parameter] public List<BusDataType> BusGrayLists { get; set; }
    [Parameter] public List<ItemBus> Jobs { get; set; }
    [Parameter] public EventCallback<ItemBus> OnStatusUpdated { get; set; }
    [Parameter] public EventCallback<ItemBus> OnShowMenu { get; set; }
    [Parameter] public EventCallback<BusLineData> UpdateLineHeight { get; set; }
    [Parameter] public EventCallback<string> OnUpdateLineCut { get; set; }
    [Parameter] public EventCallback<ItemBus> OnSatusRemoved { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public ConfigBusSchedule Param { get; set; }
    [Parameter] public DateTime defaultdate { get; set; }
    [Parameter] public int Type { get; set; }
    public ItemBus Payload { get; set; }
    public bool OnDragAble { get; set; } = false;
    public bool OnMouseDown { get; set; } = false;
    public double StartX { get; set; } = -1;
    public double StartY { get; set; } = -1;
    public int IsLeft { get; set; } = 0;
    public ItemBus PayloadCreate { get; set; }
    public bool IsCreating { get; set; } = false;


    /**
     * Don't use today
     * 
     */
    public void MouseMovePanel(MouseEventArgs e)
    {
        int d = Param.Number_of_days;       
        if (!OnMouseDown)
        {
            return;
        }
        if (Mode == 3 && Payload != null && OnMouseDown)
        {
            double compairwith = Payload.WidthDefault / Payload.Width;
            if (StartX == -1)
            {
                StartX = e.ClientX;
            }
            double iWidth = Payload.Width;
            iWidth += (e.ClientX - StartX);
            //Payload.Name = "Editing able";
            Payload.CCSStyle = "width:" + iWidth.ToString() + "px;height:" + Payload.Height.ToString() + "px;top:" + Payload.Top.ToString() + "px;left:" + Payload.Left.ToString() + "px;background:" + Payload.ColorLine + ";";
            StartX = e.ClientX;
            Payload.Width = iWidth;
            Payload.WidthDefault = Payload.Width * compairwith;
            return;
        }

        if (Payload != null && OnMouseDown)

        {
            if (IsLeft == 2)
            {
                if (StartX == -1)
                {
                    StartX = e.ClientX;
                }
                double iWidth = Payload.Width;
                iWidth += (e.ClientX - StartX);
                //Payload.Name = "Editing able";
                Payload.CCSStyle = "width:" + iWidth.ToString() + "px;height:" + Payload.Height.ToString() + "px;top:" + Payload.Top.ToString() + "px;left:" + Payload.Left.ToString() + "px;background:" + Payload.ColorLine + ";";
                StartX = e.ClientX;
                double compairwith = Payload.WidthDefault / Payload.Width;
                if (iWidth > Payload.MaxWidth && Payload.MaxWidth != -1)
                {
                    Payload.Width = Payload.MaxWidth;
                    Payload.WidthDefault = Payload.Width * compairwith;
                    DateTime datestart = busScheduleHelper.convertwidthtodate(Width, Payload.Left, d, defaultdate);
                    Payload.StartDate = datestart.ToString("yyyyMMdd");
                    Payload.TimeStart = int.Parse(datestart.ToString("HHmm"));
                    DateTime dateend = busScheduleHelper.convertwidthtodate(Width, Payload.Left + Payload.Width, d, defaultdate);
                    Payload.EndDate = dateend.ToString("yyyyMMdd");
                    Payload.TimeEnd = int.Parse(dateend.ToString("HHmm"));
                }
                else
                {
                    Payload.Width = iWidth;
                    Payload.WidthDefault = Payload.Width * compairwith;
                    DateTime datestart = busScheduleHelper.convertwidthtodate(Width, Payload.Left, d, defaultdate);
                    Payload.StartDate = datestart.ToString("yyyyMMdd");
                    Payload.TimeStart = int.Parse(datestart.ToString("HHmm"));
                    DateTime dateend = busScheduleHelper.convertwidthtodate(Width, Payload.Left + Payload.Width, d, defaultdate);
                    Payload.EndDate = dateend.ToString("yyyyMMdd");
                    Payload.TimeEnd = int.Parse(dateend.ToString("HHmm"));
                }
                System.Diagnostics.Debug.Print("Bus ID:" + Payload.Id.ToString());
                System.Diagnostics.Debug.Print("Min Left:" + Payload.MinLeft.ToString());
                System.Diagnostics.Debug.Print("Left:" + Payload.Left.ToString());
                System.Diagnostics.Debug.Print("Width" + Payload.Width.ToString());
                System.Diagnostics.Debug.Print("times:" + Payload.TimeStart.ToString());
                System.Diagnostics.Debug.Print("dates" + Payload.StartDate.ToString());
                System.Diagnostics.Debug.Print("timee:" + Payload.TimeEnd.ToString());
                System.Diagnostics.Debug.Print("datee:" + Payload.EndDate.ToString());
                System.Diagnostics.Debug.Print("Minleft:" + Payload.MinLeft.ToString());
                System.Diagnostics.Debug.Print("Maxwidth:" + Payload.MaxWidth.ToString());
            }
            else if (IsLeft == 1)
            {
                double compairwith = Payload.WidthDefault / Payload.Width;
                if (StartX == -1)
                {
                    StartX = e.ClientX;
                }
                double iWidth = Payload.Width;
                if (e.ClientX < StartX)
                {
                    iWidth += (StartX - e.ClientX);
                    Payload.Left -= (StartX - e.ClientX);
                    if (Payload.Left < Payload.MinLeft && Payload.MinLeft != -1)
                    {
                        Payload.Left = Payload.MinLeft;
                        iWidth = Payload.Width;
                    }
                    Payload.Width = iWidth;
                    Payload.WidthDefault = Payload.Width * compairwith;
                    DateTime datestart = busScheduleHelper.convertwidthtodate(Width, Payload.Left, d, defaultdate);
                    Payload.StartDate = datestart.ToString("yyyyMMdd");
                    Payload.TimeStart = int.Parse(datestart.ToString("HHmm"));
                    DateTime dateend = busScheduleHelper.convertwidthtodate(Width, Payload.Left + Payload.Width, d, defaultdate);
                    Payload.EndDate = dateend.ToString("yyyyMMdd");
                    Payload.TimeEnd = int.Parse(dateend.ToString("HHmm"));
                }
                else if (e.ClientX > StartX)
                {
                    iWidth += (StartX - e.ClientX);

                    if (iWidth < 20)
                    {
                        Payload.Width = 20;
                        iWidth = 20;
                    }
                    else
                    {
                        Payload.Left += (e.ClientX - StartX);
                        Payload.Width = iWidth;
                        Payload.WidthDefault = Payload.Width * compairwith;
                        DateTime datestart = busScheduleHelper.convertwidthtodate(Width, Payload.Left, d, defaultdate);
                        Payload.StartDate = datestart.ToString("yyyyMMdd");
                        Payload.TimeStart = int.Parse(datestart.ToString("HHmm"));
                        DateTime dateend = busScheduleHelper.convertwidthtodate(Width, Payload.Left + Payload.Width, d, defaultdate);
                        Payload.EndDate = dateend.ToString("yyyyMMdd");
                        Payload.TimeEnd = int.Parse(dateend.ToString("HHmm"));
                    }
                }
                System.Diagnostics.Debug.Print("Bus ID:" + Payload.Id.ToString());
                System.Diagnostics.Debug.Print("Min Left:" + Payload.MinLeft.ToString());
                System.Diagnostics.Debug.Print("Left:" + Payload.Left.ToString());
                System.Diagnostics.Debug.Print("Width" + Payload.Width.ToString());
                System.Diagnostics.Debug.Print("times:" + Payload.TimeStart.ToString());
                System.Diagnostics.Debug.Print("dates" + Payload.StartDate.ToString());
                System.Diagnostics.Debug.Print("timee:" + Payload.TimeEnd.ToString());
                System.Diagnostics.Debug.Print("datee:" + Payload.EndDate.ToString());
                System.Diagnostics.Debug.Print("Minleft:" + Payload.MinLeft.ToString());
                System.Diagnostics.Debug.Print("Maxwidth:" + Payload.MaxWidth.ToString());
                //Payload.Name = "Editing able";
                Payload.CCSStyle = "width:" + iWidth.ToString() + "px;height:" + Payload.Height.ToString() + "px;top:" + Payload.Top.ToString() + "px;left:" + Payload.Left.ToString() + "px;";
                StartX = e.ClientX;
            }
        }
    }

    public void MouseUpProcess(MouseEventArgs e)
    {
        if (Payload != null && OnMouseDown)
        {
            OnMouseDown = false;
            StartX = -1;
            StartY = -1;
            //Payload.Name = "Edited able";
            if (Mode == 2)
            {
                Payload.Name = Payload.Name + " - Edited";
            }
        }
    }
    /*
     * End Don't use today
     * 
     */

    public async Task UpdateJobAsync(string newLine,int BusVehicle)
    {
        var task = Jobs.SingleOrDefault(x => x.BookingId == Payload.BookingId && x.TeiDanNo==Payload.TeiDanNo && x.BunkRen==Payload.BunkRen && x.haUnkRen==Payload.haUnkRen);

        if (task != null)
        {
            task.BusLine = newLine;
            task.BusVehicle = BusVehicle;
            ItemBus tmp = new ItemBus();
            tmp = Payload;
            Payload = new ItemBus();
            await OnStatusUpdated.InvokeAsync(tmp);
        }
    }

    public async Task UpdateJobAsync()
    {
        var task = Jobs.SingleOrDefault(x => x.Id == Payload.Id);

        if (task != null)
        {
            await OnStatusUpdated.InvokeAsync(Payload);
        }
    }

    public async Task CreatedJobAsync(ItemBus itemBus)
    {
        Jobs.Add(itemBus);
        Payload = itemBus;
        OnMouseDown = true;
        IsCreating = true;
        await OnStatusUpdated.InvokeAsync(itemBus);
    }

    public async Task UpdateMenuAsync(ItemBus item)
    {
        await OnShowMenu.InvokeAsync(item);
    }

    public async Task UpdateLineCutAsync(string text)
    {
        await OnUpdateLineCut.InvokeAsync(text);
    }

    public async Task RemoveJobAsync(ItemBus itemBus)
    {
        Jobs.Remove(itemBus);
        Payload = new ItemBus();
        await OnSatusRemoved.InvokeAsync(itemBus);
    }

    /// <summary>
    /// 
    /// </summary>
    /// <param name="lstbus"></param>
    /// <returns></returns>
    public async Task UpdateHeightAsync(BusLineData bus)
    {
        await UpdateLineHeight.InvokeAsync(bus);
    }
}
