@import '../global.scss';

.area-table {
    height: calcRem(540);
    overflow-y: auto;
    /*border: 0.0625rem solid #dee2e6;*/
    .table-sm th, .table-sm td {
        line-height: normal;
        word-break: keep-all;
        white-space: nowrap;
    }

    thead th {
        position: sticky;
        top: -1px;
        border-bottom: 1px solid #dee2e6;
    }

    .row-no-data {
        height: 30.0625rem;
    }
}

.custom-combo-box-no .dropdown-item {
  white-space: nowrap;
  font-size: 12px;
  min-height: 32px;
}

.textarea-note {
    width: 100%;
    padding: 0 0.5rem;
    line-height: 26px;
    resize: none;
    background-attachment: local;
    background-image: linear-gradient(to right, white 10px, transparent 10px), linear-gradient(to left, white 10px, transparent 10px), repeating-linear-gradient(white, white 25px, #ced4da 25px, #ced4da 26px, white 26px);
}