.billprint-content > .row > div.col-md-12, div.col-md-4 {
    & > .form-group > label {
        text-align: left;
        font-weight: normal;
        margin-left: 36px;
    }
}

.billprint-content-v1 > .row > div.col-md-12, div.col-md-4 {
    & > .form-group > label {
        text-align: left;
        font-weight: normal;
        margin-left: 36px;
        width: 93px !important;
    }
}

.employee .custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after {
    background-image: none !important;
    background-color: #ffffff !important;
    border: #adb5bd solid 1px !important;
    border-radius: 0.25rem;
}

.bill-print-form {
    .border-component {
        border: 1px solid #D6D6D6;
        border-radius: 0.25rem;
    }
}

.custom-bg-btn-bill-print {
    position: fixed;
    bottom: 0;
    background: white;
    width: 100%;
    margin-left: -50px;
    z-index: 9999;
}

.btn-bill-print {
    width: 100%;
}

@media screen and (max-width: 1920px) {
    .custom-bg-btn-bill-print {
        margin-left: -35px;
    }

    .btn-bill-print {
        margin-left: 20px;
        width: 101rem;
    }
}

@media screen and (max-width: 1280px) {
    .custom-bg-btn-bill-print {
        margin-left: -64px;
    }
    .btn-bill-print {
        margin-left: 49px;
        width: 70rem;
    }
}
