.bus-coordination {
    .cmb-from, .cmb-to {
        .col-4 {
            padding-right: 0 !important;
        }
    }

    .w-customer-busco {
        .lbl-to {
            text-align: right;
        }
        width: calc(41.25rem + 30px) !important;
        min-width: calc(41.25rem + 30px) !important;
    }
}
