.custom-width-cmbccll {
    width: calc(100% - 21px) !important;
}
.cancell-list {
    .cmb-from {
        .col-4 {
            padding-right: 0 !important;
        }
    }

    .cmb-to {
        .col-4 {
            padding-left: 0 !important;
        }
    }
    .lbl-from-to {
        text-align: center !important;
    }
}
