@import '../global.scss';

.grid {
    &-1 .table-layout {
        font-size: 0.875rem;
        line-height: 2rem;
    }

    &-2 .table-layout {
        font-size: 0.8125rem;
        line-height: 1.5rem;
    }

    &-3 .table-layout {
        font-size: 0.625rem;
        line-height: 0.75rem;
    }
}

.remove-icon {
    color: #dc3545;
    cursor: pointer;
}

.pdr-dxcombo > div > div > input {
    padding-right: 26.88px !important;
}

.form-control::placeholder {
    opacity: 0.5 !important;
}


table.dxbs-month-table {
    tr {
        td:first-child:not(.calendar-clickable-cell) {
            display: none;
        }
    }
}

div.number-spin > div:not(.dxbs-edit-clbv) > div > input.form-control {
    padding-right: 0.5rem !important;
}

.custom-item-radio {
    height: 9vh !important;
    overflow: auto !important;
}

.number-spin > div > div > input {
    text-align: right !important;
}
#logout:hover {
    color: #ABAAAA !important;
}

#logout {
    color: #191818 !important;
}