.div-list {
    width: 97%;
    height: 6rem;
    border: 1px solid black;
    border-radius: 5px;
    overflow-y: auto;
    padding: 0.5rem;
    padding-top: 0;
}

.div-list::-webkit-scrollbar {
    width: 0.5rem;
}

.div-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.div-list::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #e1e1e3;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.div-list-item {
    width: 8rem;
    height: 2rem;
    background-color: #e6e6e6;
    float: left;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.3rem
}

.close-icon {
    font-size: 1.3rem;
    color: #b0b0b0;
    cursor: pointer;
    position: relative;
    top: 0.1rem;
}

.disabled-element {
    pointer-events: none;
    opacity: 0.4;
}

.remove-item {
    color: red;
    cursor: pointer;
    font-size: 1.5rem;
}