#depositListContainer {
    .dx-pager .dx-page-sizes {
        float: right !important;
    }

    .dx-pager .dx-pages {
        float: left !important;
    }
}
#preSaleBranch:hover{
    color: green !important;
}
#nextSaleBranch:hover {
    color: green !important;
}
#preBillingPayment:hover {
    color: green !important;
}
#nextBillingPayment:hover {
    color: green !important;
}
.green-background {
    color: #b7f38d;
}
.grey-background{
    color:gray;
}
.navigate-button{
    height:1.89rem !important;
}
#depositListContainer {
    .dx-datagrid-headers.dx-datagrid-nowrap {
        background-color: #E9ECEF !important;
    }

    .dx-row.dx-header-row {
        color: #212529;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 600;
    }

    .dx-datagrid-text-content {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 600;
    }

    .dx-datagrid-rowsview {
        border-top: none;
    }

    .dx-data-row.dx-row-lines.dx-column-lines {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 400;
        line-height: 1.5;
        color: #212529 !important;
        font-size: 1rem;
    }

    .dx-datagrid-headers.dx-datagrid-nowrap {
        border-top: 1px solid #ddd;
    }
}

#checkBoxBilling {
    .form-check {
        position: relative !important;
        display: block !important;
        padding-left: 1.25rem !important;
    }

    .form-check-inline {
        display: inline-flex !important;
        align-items: center !important;
        padding-left: 0 !important;
        margin-right: 0.75rem !important;
    }
}
#checkBoxPayment {
    .form-check {
        position: relative !important;
        display: block !important;
        padding-left: 1.25rem !important;
    }

    .form-check-inline {
        display: inline-flex !important;
        align-items: center !important;
        padding-left: 0 !important;
        margin-right: 0.75rem !important;
    }
}

.have-border{
    border: 1px solid white !important;
}
.have-border-bottom {
    border-bottom: 1px solid white !important;
}

.no-margin{
    margin-right: 0rem !important;
}

.have-background {
    background-color: #E9ECEF;
}
.table-bordered-receivable {
    border: 1px solid white;

    th,
    td {
        border: 1px solid white;
    }

    thead {
        th,
        td {
            border-bottom-width: 1px solid white;
        }
    }
}