.etc-form-footer {
    height: 10rem;
    overflow: auto;
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0;
    position: relative;

    & > table {
        background-color: white;
        font-size: 0.8125rem;
        position: absolute;
        border-collapse: separate;
        border-spacing: 0px;
        margin-bottom: 0;

        & > thead > tr > th {
            position: sticky;
            top: 0;
            background-color: white;
            border-top: 0.0625rem solid #dee2e6;
            border-bottom: 0.0625rem solid #dee2e6;
            border-right: 0.0625rem solid #dee2e6;

            &:first-child {
                border-left: 0.0625rem solid #dee2e6;
            }
        }
    }
}

.etc-form-body {
    border: 1px solid rgba(0, 0, 0, 0.1);

    .body-up, .body-down {
        padding: 0 0.5rem;
    }
}

.etc-custom-text {
    font-size: 0.875rem;
    padding: 0 0.5rem;
    margin-bottom: 0px;
}

.modal.dxbs-modal{
    padding: 0px!important;
}

.modal-etc-form {
    max-width: 60rem !important;
}

.vertical-align-middle {
    vertical-align: middle!important;
}

.border-invalid {
    input {
        border-color: red !important;
    }
}

.border-valid {
    input {
        border-color: #26b050 !important;
    }
}


