@import '../global.scss';

.list-outputwhere {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    .outputwhere-item {
        flex: 0 0 31%;
        border: 1px dashed $bg_sidebar;
        padding: 0.5rem;
        border-radius: 5px;

        &:nth-of-type(3n+2) {
            margin: 0 2%;
        }
    }
}