#page-container-home {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
}

#dialog-container {
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.dialog-box {
    position: relative;
    min-height: 80px;
    border-radius: 10px;
    margin-bottom: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
    background-color: #e0e0e0;
    padding: 10px;
}

.dialog-box .header {
    height: 25px;
    position: relative;
    color: black;
}

.content-left {
    float: left;
    text-align: left;
    width: max-content;
    padding: 3px 0 0 10px;
}

.content-right {
    float: right;
    text-align: right;
    width: max-content;
    padding: 3px 10px 0 0;
}

#footer-text {
    font-size: 0.8em;
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.noti-user {
    width: 5px;
    margin: 5px -5px 5px 0px;
    height: auto;
    background-color: #7d5a4f;
}

.title-main {
    width: 100%;
    background-color: #007e5f;
    text-align: center;
    padding: 10px;
    color: white;
}

/* mixin for multiline */
.block-with-text {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 0px 0px 10px;
    padding-right: 10px;
    font: 14px 'Noto Sans JP', sans-serif;
    width: 100%;
}

.home-textarea {
    width: 100%;
    border: none;
    background-color: #e0e0e0;
}

textarea.none-resize {
    resize: none;
}

.ct-btn {
    font-size: 14px;
    border-radius: 5px;
}

.see-more {
    cursor: pointer;
    color: #2c81d5;
    text-decoration: underline;
    padding-right: 5rem;
}

.noti-content {
    word-wrap: break-word;
    white-space: pre-wrap;
}

.bc-white {
    background-color: white;
}
