.confirm-read-main {
    width: 100vw;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;

    .top-row {
        display: block;
        position: fixed;
        width: 100%;

        img {
            margin-right: 0.5rem;
            height: 1.929rem;
        }
    }

    .content {
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 2rem;
        font-weight: bold;

        i {
            color: red;
            margin-right: 0.5rem;
        }
    }

    .bottom-row {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #f3f3f4;
        text-align: center;

        div {
            line-height: 0.1rem;
            font-size: 0.5rem;
            display: inline-table;
        }
    }
}
