@import '../global.scss';

.lockbooking-table {
    /*.table-grid-data table th {
        background: $bg_sidebar;
        color: $white;
    }*/
    .dxbs-gridview > .card {
        border: none;
        border-radius: 0;

        .dxbs-table {
            border: 1px solid rgba(0, 0, 0, 0.125);

            > tbody > tr > td, > thead > tr > th {
                padding: 0.125rem 0.25rem;
            }
        }

        .card-body {
            padding: 0.5em 0;
        }
    }

    .dxbs-fixed-header-content > a, .dxbs-fixed-header-content > a:hover, .dxbs-fixed-header-content > a:focus {
        text-decoration: none;
    }

    .dx-pager {
        justify-content: flex-end;
    }
}