tr.hide-table-padding td {
    padding: 0;
    vertical-align: top;
}

.expand-button {
    position: relative !important;
    padding-left: 26px !important;
}

.accordion-toggle .expand-button:after {
    position: absolute;
    left: .75rem;
    top: 50%;
    transform: translate(0, -50%);
    content: '－';
}

.accordion-toggle.collapsed .expand-button:after {
    content: '+';
}

.hide-table-padding .collapse .collapse .dxbs-textbox .form-control {
    border-radius: 0px 0px;
}

.hide-table-padding .border-radius .dxbs-textbox .form-control {
    border-radius: 0px 0px;
}

.fix-width {
    width: 123px;
}

.line-height-trow {
    line-height: 16px;
}

.line-height-thead {
    line-height: 11px;
}

.monthlytransportation-result {
    .border-component {
        border: 1px solid #D6D6D6;
        border-radius: 0.25rem;
    }

    .dxbs-dropdown-area .modal-header .modal-title {
        font-size: 1.0rem;
        font-weight: 600;
        align-self: baseline;
    }

    .rollers-loading .roller-container .roller .roller-item {
        font-size: 1.0rem;
    }
}

.monthly-transportation-input {
    div.number-spin > div:not(.dxbs-edit-clbv) > div > input.form-control, div.dxbs-combobox > div:not(.dxbs-edit-clbv) > div > input.form-control {
        padding-right: 0.5rem !important;
    }
}

@media (min-width: 768px) {
    .responsiveMonthly {
        overflow-y: auto;

        .table thead th {
            border: 1px solid #224F4B;
            background-color: #1AB394;
            color: white;
        }

        .table tbody tr td #collapseTwo, #collapseOne, #collapseThree, #collapseFour, #collapseFive {
            min-width: 110px;
        }
    }
}

@media (min-width: 1920px) {
    .responsiveMonthly {
        overflow-y: auto;

        .table thead th {
            border: 1px solid #224F4B;
            background-color: #1AB394;
            color: white;
        }

        .table tbody tr td #collapseTwo, #collapseOne, #collapseThree, #collapseFour, #collapseFive {
            min-width: 110px;
        }
    }
}
