.receiptOutput {
    .itemMide {
        text-align: center;
        border: 1px solid #999;
        margin-left: 8px;
        margin-bottom: 4px;
    }

    .itemRight {
        margin-left: auto;
    }

    .dxbs-table {
        thead {
            text-align: center;
        }
    }

    .nav-tabs .nav-link:not(:active) {
        border: solid 1px #D3D3D3 !important;
    }

    .receipt-output-grid .table-bordered {
        thead {
            color: white;
            background-color: #3BB999 !important;

            .check-box {
                left: 0 !important;
                z-index: 99;
                max-width: 35px;
                min-width: 35px;
            }

            .check-box {
                vertical-align: middle;
                align-items: center;
            }
        }

        tbody {
            tr {
                background: #F9F8F9;
            }
        }
    }
}

.express-condition .width--300 {
    width: 20.8rem !important;
    min-width: 20.8rem !important;
}
