.drop-zone{
    width: 250px;
    height: 80px;
    overflow:auto;
    border: 1px solid #808080;
}
.mb-55{
    height:80px;
}

#table-kinkyu {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#table-kinkyu th{
    position: sticky;
    top: 0;
}
#table-kinkyu td, #table-kinkyu th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table-kinkyu tr:hover {
    background-color: #ddd;
}

#table-kinkyu th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ffcdd2;
    color: black;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}
.display-none{
    display: none;
}
#kasikirisetting-popup {
    .dx-dropdown-list-container > .dx-listbox-scrollable.dxbs-dm.dropdown-menu {
        left: unset !important;
    }

    .modal-dialog {
        max-width : 1600px !important;
    }
}
.number-rate{
    width: 50px;
}
.mr-100{
    margin-right: 100px;
}
.max-150{
    max-width:150px;
}
.custom-width{
    max-width: 150px;
    min-width: 150px;
    margin-left: 5px;
}
.custom-popup-kashikirisetting {
    width: 1150px !important;
    min-width: 1100px !important;
}