#content-schedule-organization-sfmb {
    overflow-y: auto;
    padding-bottom: 96px;
}

.lst-sfmb-header {
    line-height: normal !important;
    font-size: 14px;
    background-color: #007e5f;
    height: 40px;
    width: 100%;
    text-align: center;
}

.lbl-text-white {
    margin: 5px -3px 5px;
    font-size: 26px;
    color: white;
    height: 31px;
    width: 31px;
}

.lbl-text-white-title {
    margin: 8px 5px 7px;
    font-size: 17px;
    color: white;
}

.group-schedule-sfmb {
    height: 40px;
    border-bottom: 1px solid #c9c5c5;
}

.group-btn-sfmb {
    height: 40px;
    width: 31px;
    font-size: 20px;
    margin: -3px 10px 2px;
}

.group-i-sfmb {
    height: 20px;
    width: 31px;
    font-size: 20px;
    margin: 10px 1px 9px;
}

.lbl-title-header-sfmb {
    font-size: 30px;
    margin-right: 2px;
}

.group-schedule-mobile-title-section {
    border: 1px solid #c9c5c5;
    height: 40px;
    background-color: #c9c5c5;
    font-weight: 600;
    border-bottom: 1px solid white !important;
}

.lbl-left-sfmb {
    margin-left: 26px;
    margin-top: 9px;
    line-height: 18px;
}

.btn-plus-right-sfmb {
    height: 32px;
    width: 32px;
    font-size: 12px;
    margin: 2px 10px 2px;
    float: right;
    background-color: white;
    border: #000000;
}

.region-register-group {
    margin-left: 3px;
    margin-top: 5px;
}

.lbl-register-group {
    margin: 6px 13px 14px;
}

.txt-add-member-group {
    margin-top: 5px;
}

.txt-register-group {
    .form-control-sm {
        height: 30px;
        width: 95%;
        margin-left: 8px;
        margin-bottom: 10px;
        font-size: 14px;
    }

    .dx-dropdown-list-container .dx-listbox-scrollable.dxbs-dm.dropdown-menu {
        font-size: 14px;
    }

    .dx-dropdown-list-container .dx-listbox-scrollable.dxbs-dm.dropdown-menu .dropdown-item {
        padding: 5px 10px;
    }
}

.region-register-group-sfmb {
    width: 100%;
}

.group-name-register-sfmb {
    margin: 20px 5px 10px;
}

.region-register-group-sfmb {
    line-height: 10px;
    font-size: 14px;
}

.btn-cancel-group-sfmb {
    width: 95px;
    height: 31px;
    font-size: 13px;
    margin: 40px 0px 40px;
    border: 1px solid #55545438;
    border-radius: 5px;
}

.btn-register-group-sfmb {
    width: 50px;
    height: 31px;
    font-size: 13px;
    margin: 40px 6px 40px;
    border: 1px solid #55545438;
    border-radius: 5px;
}

.popup-sfmb {
    height: 100%;

    .modal-content {
        height: 100%;
    }
}

.group-schedule-MB-title-section {
    height: 33px;
    border-bottom: 1px solid black;
}

.group-schedule-MB .dx-checkbox {
    white-space: nowrap;
    margin-bottom: 10px;
    margin-top: 5px;
}

.group-schedule-MB .dx-checkbox-label-right {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 1900px) {
    html {
        font-size: 14px;
        line-height: normal;
    }
}

.title-sub-sfmb {
    margin-top: 25px;
}

.detail-schedule-sfmbcf {
    a {
        cursor: pointer;
        color: #0064bd;
        text-decoration: underline;
    }
}
.custom-size-sfmb {
 font-size: 13px !important;
}
