#content-schedule-staff-confirm, #content-schedule-staff-details {
    font-size: 12px;
    line-height: 14px;

    .body-confirm-sfmb {
        margin-left: 4%;
        margin-bottom: 4%;
    }

    .type-lable-meeting-display-sfmb {
        margin-top: 6px;
    }

    .description-schedule-sfmbcf {
        height: 50px;
        font-size: 13px;
        color: white;
        line-height: 13px;
        margin-top: 20px;
    }

    .footer-confirm-sfmb {
        height: 60px;
        border-top: 1px solid #bdbdbd;
        padding-left: 4%;
    }

    .lbl-details-title-sfmb {
        font-size: 16px;
        line-height: 17px;
        color: black;
        width: 100%;
    }

    .date-sfmbcf {
        margin-top: 15px;
        display: inline-flex;
    }

    .repetition-sfmbcf {
        height: 13px;
    }

    .value-creator-sfmbcf {
        margin-top: 5px;
        margin-left: 5%;
    }

    .lbl-sfmbcf {
        margin-top: 5px;
        margin-left: 25px;
    }

    .lbl-par-sfmbcf {
        width: 100px;
    }

    .btn-conf-Y, .btn-conf-N, .btn-conf-P {
        height: 23px;
        width: 60px;
        border: 1px solid #808080;
        font-size: 12px;
        line-height: 12px;
        margin-right: 5px;
        margin-top: 10px;
        border-radius: 5px;
    }

    .lbl-participants-sfmbcf {
        margin-left: 5%;
    }

    .note-sfmbcf {
        margin-left: 5%;
    }

    .lbl-footer-sfmbcf {
        margin-top: 10px;
    }

    .participants-area-sfmbcf, .detail-schedule-sfmbcf, .creator-area-sfmbcf {
        margin-top: 15px;
    }

    .lbl-mr-r {
        margin-right: 5px;
    }

    .st-Y-color, .btn-conf-Y {
        color: #33691e !important;
    }

    .st-N-color, .btn-conf-N {
        color: #d2302f !important;
    }

    .st-P-color, .btn-conf-P {
        color: #1a76d2 !important;
    }
}

#content-schedule-staff-confirm, #content-schedule-staff-details, #content-schedule-sfmb {
    .row-sfmb-color-11 {
        background-color: #f54337;
    }

    .row-sfmb-color-12 {
        background-color: #c32a97;
    }

    .row-sfmb-color-13 {
        background-color: #009588;
    }

    .row-sfmb-color-24 {
        background-color: #33691e;
    }

    .row-sfmb-color-25 {
        background-color: #f54337;
    }

    .row-sfmb-color-36 {
        background-color: #f57c01;
    }

    .row-sfmb-color-47 {
        background-color: #f50197;
    }

    .row-sfmb-color-58 {
        background-color: #fdd735;
    }

    .row-sfmb-color-private {
        background-color: #d9d9d9;
    }

    .bg-sfmb-color-11 {
        background-color: #fddfdd;
    }

    .bg-sfmb-color-12 {
        background-color: #f6dff0;
    }

    .bg-sfmb-color-13 {
        background-color: #dbf0ee;
    }

    .bg-sfmb-color-24 {
        background-color: #e1e9dd;
    }

    .bg-sfmb-color-25 {
        background-color: #fddfdd;
    }

    .bg-sfmb-color-36 {
        background-color: #feeddb;
    }

    .bg-sfmb-color-47 {
        background-color: #feedf8;
    }

    .bg-sfmb-color-58 {
        background-color: #fff8dd;
    }

    .bg-sfmb-color-190 {
        background-color: #d9d9d9;
    }

    .bg-sfmb-color-191 {
        background-color: #cbfafa;
    }

    .bg-sfmb-color-private {
        background-color: #d9d9d9;
    }

    .row-plan-scheduleleave {
        background-color: #f54337;
    }

    .row-plan-schedulemeeting {
        background-color: #c32a97;
    }

    .row-plan-schedulejourney {
        background-color: #009588;
    }

    .row-plan-1 {
        background-color: #f54337;
    }

    .row-plan-2 {
        background-color: #c32a97;
    }

    .row-plan-3 {
        background-color: #009588;
    }

    .row-leaving {
        background-color: #f54337;
    }

    .row-to-work {
        background-color: #33691e;
    }

    .row-jouney {
        background-color: #f57c01;
    }
}
