#content-schedule-staff-details {
    font-size: 12px;
    line-height: 14px;
}

.staff-details {
    margin-left: 4%;
    margin-bottom: 4%;
}

.footer-detail-sfmb {
    border-top: 1px solid #bdbdbd;
    padding-left: 4%;
}

.content-sfmbdt {
    margin-top: 25px;
}

.value-sfmbdt {
    margin-top: 5px;
    margin-left: 5%;
}
