.w-46 {
    width: 46% !important;
}
.w-98vw {
    width: 98vw;
    min-width: 1800px;
}
.w-4rem {
    width: 4rem !important;
}
.w-45 {
    width: 45% !important;
}
.w-38 {
    width: 38% !important;
}
.w-36 {
    width: 36% !important;
}
.btn-cycle {
    border: 1px solid #000000;
    border-radius: 50%;
    padding: 0;
    width: 1.8rem;
    height: 1.8rem;
    margin-top: 0.1rem;
}

.btn-cycle:enabled:hover {
    background-color: #cccccc;
}

.div-inline {
    display: inherit;
}

.vehicle-table > thead > tr > th {
    text-align: center;
    background-color: var(--primary);
    color: #ffffff;
    position: sticky;
    top: 0;
    border: 0.5px solid #dee2e6;
    z-index: 11;
    vertical-align: middle !important;
}

.vehicle-table > tbody > tr > td {
    border: 0.5px solid #dee2e6;
    text-align: center;
}

.fixed-header > thead > tr > th:after,
.fixed-header > thead > tr > th:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
}

.fixed-header > thead > tr > th:before {
    top: -1px;
    border-top: 1px solid #dee2e6;
}

.fixed-header > thead > tr > th:after {
    bottom: -1px;
    border-bottom: 0.5px solid #dee2e6;
}

.w-85 {
    width: 85% !important;
}

.border-green {
    border: 1px solid #28a745;
    border-radius: 0.25rem;
}

.resize-div {
    position: absolute;
    width: 5px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: transparent;
    cursor: col-resize;
}

.btn-active {
    background-color: var(--primary) !important;
    color: #ffffff;
}

.btn-option {
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: 1rem;
    border-color: #D3D3D3;
    padding: 0 1.2rem;
    line-height: 0.5rem;
    padding-top: 0px !important;
    height: 2rem;
}

.btn-option:hover {
    background-color: var(--primary) !important;
    color: #ffffff;
}

.border-dotted {
    border: 1px dotted var(--gray);
    padding: 0.7rem;
    border-radius: 1rem;
    //padding-bottom: 0.3rem;
}

.vehicle-tab {
    .nav-tabs {
        border-bottom: none;

        .nav-link:hover {
            border: 1px solid var(--green) !important;
        }

        .nav-link.active {
            border: 1px solid var(--green) !important;
            color: #ffffff;
            background-color: var(--primary) !important;
        }
    }
}

.sticky {
    position: sticky !important;
}
.col-sticky {
    background-color: #ffffff !important;
    border: 0.5px solid #dee2e6 !important;
    border-left: 1px solid #dee2e6 !important;
    border-bottom: 0.75px solid #dee2e6 !important;
    left: 0px !important;
}
.header-sticky {
    background-color: var(--primary) !important;
    border: 0.5px solid #dee2e6 !important;
    border-left: 1px solid #dee2e6 !important;
    left: 0px !important;
    z-index: 2 !important;
}
.border-red {
    border: 1.5px solid red;
}

.k-radio {
    border: 1px solid #979a9c;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    border-width: 1px;
    border-style: solid;
    outline: 0;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    -webkit-appearance: none;

    &::before {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: currentColor;
        -webkit-transform: scale(0) translate(-50%, -50%);
        -ms-transform: scale(0) translate(-50%, -50%);
        transform: scale(0) translate(-50%, -50%);
        overflow: hidden;
        position: absolute;
        background-color: var(--primary);
        top: 50%;
        left: 50%;
    }

    &:focus {
        border-color: rgba(0,0,0,0.15);
        box-shadow: 0 0 0 2px rgba(0,0,0,0.06);
    }

    &:checked {
        &::before {
            border-radius: 50%;
            transform: scale(1) translate(-50%, -50%);
        }

        &:focus {
            border-color: var(--primary);
            box-shadow: 0 0 0 0.2rem rgba(26, 179, 148, 0.25);
        }

        border-color: var(--primary);
        color: #fff;
        background-color: #fff;
    }

    &:disabled, &:disabled + .k-radio-label {
        outline: none;
        cursor: default;
        opacity: .6;
        -webkit-filter: grayscale(0.1);
        filter: grayscale(0.1);
        pointer-events: none;
        box-shadow: none;
    }
}

.k-radio + .k-radio-label, .k-radio-label + .k-radio {
    margin-left: 1rem;
}

.k-radio-label {
    font-weight: normal;
}

.required {
    color: red;
}

.right-table {
    overflow: auto;
    width: 100%;

    .kobo-simple-grid-container {
        margin-left: auto;
    }
}

.header-multiline {
    white-space: pre-line !important;
}

#popup .dxbs-modal {
    z-index: 11003 !important;
}

#popup .dxbs-modal-back {
    z-index: 11002 !important;
}

.custom-modal-open {
    overflow: hidden;
}

.custom-modal-open .modal {
    overflow: auto !important;
}