.calendar-header {
    height: 35px;
    width: calc(100% /7);
    /*    background-color: blue;*/
    /*    color: white;*/
    /*    font-weight: bold;*/
    float: left;
    line-height: 35px;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}

.calender-header:last-child {
    border-right: 1px solid #e6e6e6;
}

.calendar-item {
    height: 35px;
    width: calc(100% /7);
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    float: left;
    color: #959595;
    font-size: 16px;
    font-weight: bold;
}

.calendar-item-border-btm {
    border-bottom: 1px solid #e6e6e6;
}

.calendar-item-border-right {
    border-right: 1px solid #e6e6e6;
}

.calendar-child-item {
    height: 100%;
    /*    line-height: 35px;*/
    text-align: right;
    padding-right: 5px;
    cursor: pointer;
}

.calendar-status-item {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: relative;
    top: -30px;
    left: 5px;
}

.calendar-disable-item {
    cursor: default !important;
    opacity: 0.3;
}

.setting-date {
    background-color: #EBEFF9;
}

.calendar-button {
    border: none;
    background-color: white;
    border-radius: 5px;
}

.selected-date {
    background-color: #dbe9f5;
    box-shadow: inset 0 0 0 1px #337ab7;
}

.calendar-header-container {
    background-color: #007e5f !important;
}

.calendar-title {
    font-size: 12px;
    color: white;
    height: 15px;
}

.calendar-dropdown {
    background-color: white;
}

.calendar-info {
    color: white;
}

.reservation-type {
    width: 50px;
    height: 20px;
    color: white;
    text-align: center;
    position: relative;
    top: -35px;
    right: 5px;
}

.reservation-custom-dropdown {
    & .dropdown-menu {
        left: 0 !important;
        max-width: 100% !important;
        overflow: auto;
    }

    & ul{
        & li{
               width: fit-content;
           }
    }
}

.sp-layout {
    & .custom-icon {
        font-size: 30px !important;
    }
}

.font-size-10px {
    font-size: 10px;
}

.item-area {
    background-color: white;
    max-height: calc(100vh - 515px);
    overflow: auto;
}

.w-15 {
    width: 15% !important;
}

.w-70 {
    width: 70% !important;
}