.vh-header-content {
    background-color: #007e5f;
    align-items: center;
    margin-bottom: 0px;
}

.vh-btn-refresh {
    font-size: 14px;
    background-color: white;
    color: black;
    align-content: center;
    height: 31px;
    width: 28px;
    border-radius: 5px;
    margin: 7px 6px 5px;
}

.vh-header-date-content {
    background-color: #EBEFF9;
    height: 40px;
}

.vh-header-detail-content {
    display: block !important;
    background-color: #EBEFF8;
    height: 40px;

    .custome-size-device {
        margin-top: 10px;
        margin-right: 6px;
    }
}

.vh-schedule-mobile {
    .dx-scheduler .dx-scheduler-header {
        display: none;
    }

    .dx-scheduler .dx-scheduler-work-space {
        padding-top: 0px;
    }

    margin-top: 55px;
}

.vh-btn-custom-sfmb {
    height: 31px;
    margin: 2px 6px 4px 1px;
    border-radius: 5px;
    background-color: white;
}


.vh-lbl-left-sfmb {
    margin: 10px 23px 11px;
    line-height: 18px;
}

#vh-schedule-mobile {
    .description-notice {
        padding-bottom: 5px;
        margin-bottom: 0px !important;
        color: black !important;
    }

    tr:not(:last-child) {
        border-top: 1px solid #c2c0c0;
        border-bottom: 1px solid #c2c0c0;
    }

    .time-sfmb {
        line-height: 16px;
        width: 60px;
        height: 65px;
        text-align: center;
    }

    .description-sfmb {
        width: 380px;
        line-height: 14px;
    }

    .icon-sfmb {
        width: 15%;
        line-height: 14px;
        color: #9e9e9e !important;
    }

    .icon-size-sfmb {
        font-size: 23px;
        float: right;
        margin: 2px 3px 2px 2px;
    }

    .lable-schedule-type, .lable-hope, .lable-absolute {
        margin-right: 6px;
    }

    .opacity05 {
        opacity: .5;
    }
}

.vh-schedule-mobile-title-section {
    border: 1px solid #c9c5c5;
    height: 40px;
    background-color: #c9c5c5;
    font-weight: 600;
    border-bottom: 1px solid white !important;
}

.vh-lbl-title-header-sfmb {
    font-size: 30px;
    margin-right: 2px;
    line-height: 1;
}


.vh-btn-plus-right-sfmb {
    height: 32px;
    width: 32px;
    font-size: 12px;
    margin: 2px 6px 2px;
    float: right;
    background-color: white;
    border: #000000;
}

.vh-group-schedule-sfmbg {
    display: none;
}

@media (min-device-width: 320px) {
    .tableVhScheduleMB {
        position: sticky;
        overflow-y: auto;
        height: 100px;
    }

    .vh-header-detail-content {
        .custome-size-device {
            font-size: 10px;
        }
    }
}

@media (min-device-width: 360px) {
    .tableVhScheduleMB {
        position: sticky;
        overflow-y: auto;
        height: 160px;
    }

    .vh-header-detail-content {
        .custome-size-device {
            font-size: 11.5px;
        }
    }
}

@media (min-device-width: 375px) {
    .tableVhScheduleMB {
        position: sticky;
        overflow-y: auto;
        height: 195px;
    }

    .vh-header-detail-content {
        .custome-size-device {
            font-size: 12px;
        }
    }
}

@media (min-device-width: 411px) {
    .tableVhScheduleMB {
        position: sticky;
        overflow-y: auto;
        height: 240px;
    }

    .vh-header-detail-content {
        .custome-size-device {
            font-size: 13px;
        }
    }
}

@media (min-device-width: 768px) {
    .tableVhScheduleMB {
        position: unset;
        overflow-y: auto;
        height: 100%;
        width: 100%;
    }
}
