.file-management-container {
    --upload-file-border: #dee2e6;
    margin-bottom: 1rem;
    display: flex;
    flex: 1;

    .file-management-body {
        display: flex;
        flex: 1;
        /*        border: 1px solid var(--upload-file-border);*/
        overflow: auto;

        & > .left-body {
            width: 25%;
            border-right: 1px solid var(--upload-file-border);
            height: 100%;
            overflow: auto;
            display: flex;
            flex-direction: column;

            .tree-folder {
                flex: 1;
                overflow: auto;
                display: flex;

                .dxbs-tree {
                    flex: 1;
                }
            }
        }

        & > .right-body {
            flex: 1;
            display: flex;
            flex-direction: column;
            width: 75%;

            .custom-table {
                &.table td, &.table th {
                    border: none;
                    border-bottom: 1px solid var(--upload-file-border);
                }
            }

            & > .grid {
                overflow: auto;
                flex: 1;

                table tr {
                    cursor: pointer;

                    &.row-selected {
                        background-color: #BAE8DF;
                    }
                }

                .detail-info .custom-icon {
                    margin-top: auto;
                    margin-bottom: auto;
                    margin-left: 1rem;
                    cursor: pointer;
                    color: var(--primary);
                }
            }
        }

        & .header {
            position: sticky;
            top: 0;
            background-color: white;
            z-index: 1;
            height: 3rem;
            border-bottom: 1px solid var(--upload-file-border);
            display: flex;

            & > .header-text {
                font-weight: bold;
                width: 60%;

                p {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    .folder-path:hover {
                        cursor: pointer;
                        text-decoration: underline;
                        color: var(--primary);
                    }
                }
            }
        }
    }
}

.upload-file-popup {
    width: 50rem;
    max-width: 50rem;
}

.download-history {
    width: 40rem;
    max-width: 40rem;
    max-height: 50vh;
}

.curor-pointer {
    cursor: pointer !important;
}

.custom-fa-icon {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1rem;
}

/*.kobo-loading {
    position: fixed;
    z-index: 11003;
    width: 100%;
    height: 100%;
    top: 0;
    background: #ffffffc2;

    & > .loader-icon {
        width: 35px;
        height: 35px;
    }
}*/

.left-0 {
    left: 0 !important;
}

.tree-node-disabled {
    opacity: 0.5;
}

.move-tree {
    max-height: 80vh;
    overflow: auto;
}

.custom-tree.dxbs-tree ul.nav > li > a {
    /*height: 2rem;
    padding: 0;

    span:first-child {
        margin-right: 0;
    }

    span:nth-child(2) {
        height: 100%;
        line-height: 2rem;
    }*/
}
