@import '../global.scss';

/* Topbar */
.main {
    .top-row {
        border-bottom: 0.0625rem solid #e7eaec;
        background: $bg_topbar;
        padding: 0.625rem 15px;
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 -15px;

        .navbar-right {
            display: flex;
            align-items: center;

            img {
                height: 1.25rem;
            }
        }
    }
}