@import '../global.scss';

/* Sidebar */
#sidebar {
    min-width: 15.625rem;
    max-width: 15.625rem;
    background: $bg_sidebar;
    color: $white;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    height: 100vh !important;
    //position: fixed;
    position: sticky;
    top: 0;
    //left: 0;
    //z-index: 9999;
    margin-left: -15.625rem;

    &.active {
        margin-left: 0;
    }

    .sidebar {
        &-header {
            padding: 0.625rem;
            background: $bg_sidebar_header;

            img {
                margin-right: 0.5rem;
                height: calcRem(33);
            }
        }

        &-content {
            height: calc(100vh - 53px);
        }
    }

    ul {
        li a {
            padding: 0.625rem 0.5rem;
            font-weight: 500;
            display: block;

            &:hover, &.active, &[aria-expanded="true"] {
                color: $white;
                background: $bg_sidebar_ul_active;
            }
        }

        ul {
            li a {
                background: $bg_sidebar_ul_ul;
                color: #a7b1c2;

                &:hover, &.active, &[aria-expanded="true"] {
                    color: $white;
                    background-color: $bg_sidebar_ul_ul_active;
                }
            }

            ul {
                li a {
                    background: $bg_sidebar_ul_ul_ul;
                    padding: 0.625rem 1rem;

                    &:hover, &.active {
                        background: $bg_sidebar_ul_ul_ul;
                    }
                }

                ul li a {
                    padding-left: 1.5rem;
                }
            }
        }
    }

    #sidebarCollapse {
        background-color: $bg_sidebar;
        border-color: $bg_sidebar;
        color: $white;

        &:hover {
            background-color: $bg_sidebar_hover;
            border-color: $bg_sidebar_hover;
            color: $white;
        }

        @media (max-width: 1280px) {
            span {
                display: none;
            }
        }
    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 0.5rem;
        transform: translateY(-50%);
    }
}

